{% extends 'base.html' %}
{% block body %}
<style>
   * {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
  width:50%;
 text-align:centre;
 margin-left:25%;
}

/* Full-width input fields */
input[type=text], input[type=password],input[type=file] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password],,input[type=file]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
</style>
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container">
    <h1>Add Movie</h1>

    <hr>

    <label for="moviename"><b>Movie Name</b></label>
    <input type="text" placeholder="Enter moviename" name="moviename" id="moviename" required><br>

    <label for="desc"><b>Description</b></label>
    <input type="text" placeholder="Enter description" name="desc" id="desc" required><br>

    <label for="year"><b>Year</b></label>
    <input type="text" placeholder="Enter year" name="year" id="year" required><br>

    <label for="img"><b>Image</b></label>
    <input type="file"  name="img" id="img" required>

    <hr>
    <button type="submit" class="registerbtn">Add</button>
  </div>

</form>
{% endblock %}
